# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
build/
dist/
*.egg-info/

# Logs
*.log
logs/

# Data (large files)
*.h5
*.hdf5
*.weights
dataset/Multi_Camera_Semantic_Segmentation/
dataset/Mono_Camera_Semantic_Segmentation
dataset/inference_img/
*.csv

# Misc
*.bak
*.tmp

# cluade
*.claude
CLAUDE.md

# gemini
GEMINI.md

# wandb
/wandb

# models
/checkpoints

# google drive desktop
.tmp.drivedownload
.tmp.driveupload

# Google Drive Icons
Icon?

# inference
/inference/
!/src/inference/